@model Domain.Entities.User
@{
    ViewBag.Title = "Admin: Редактирование " + @Model.Login;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<script src="@Url.Content("~/Scripts/js/jquery_ui_datepicker.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery_ui_datepicker.css")" rel="stylesheet" type="text/css"/>
<script src="@Url.Content("~/Scripts/js/jquery_ui_datepicker.js")" type="text/javascript"></script>*@

<style>
    form {
        border: none;
    }
</style>


<ul class="breadcrumb">
    @{
        <li><a href="@Url.Action("Actions", "Admin")">Главная</a> <span class="divider">/</span></li>
        <li class=""><a href="@Url.Action("UsersView", "Admin")">Учетные записи клиентов</a> <span class="divider">/</span></li>
        <li class="active"><a href="@Url.Action("EditUser", new {userId = @Model.UserID})">Редактировать учетную запись @Model.Login</a> <span class="divider">/</span></li>
    }
</ul>


@{

    if (User.IsInRole("Admin") || User.IsInRole("ContentManager"))
    {

<h2>Редактировать аккаунт @Model.Login</h2>
        using (Html.BeginForm("EditUser", "Admin"))
        {
    
            @*
              <div class="col-lg-12 col-md-12" style="padding: 0; padding-bottom: 5px;">
        
        <div class="form-group" style="padding: 0">
                <div class="col-lg-2 col-md-2" style="padding: 0"> @Html.Label("Название")</div>    
                <div class="col-lg-4 col-md-4" style="padding: 0"> @Html.TextBoxFor(model => model.Name, new {@class="form-control"})</div>    
         
                <div class="col-lg-2 col-md-2" style="padding: 0; text-align: right; padding-right: 15px;"> @Html.Label("Цена") </div>    
                <div class="col-lg-4 col-md-4" style="padding: 0"> @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })</div>    
         </div></div>*@
            
    <div class="editor-field"> @Html.HiddenFor(model => model.UserID)</div>    
    <div class="editor-field"> @Html.HiddenFor(model => model.PasswordSalt)</div>    
    <div class="editor-field"> @Html.HiddenFor(model => model.NewEmailKey)</div>    
    <div class="editor-field"> @Html.HiddenFor(model => model.IsActivated)</div>    
    <div class="editor-field"> @Html.HiddenFor(model => model.Password)</div>    
            
    <div class="col-lg-6 col-md-6" style="padding: 0">
     <div class="form-group" style="padding: 0">
                <div class="col-lg-2 col-md-2 form-control-static" style="padding: 0"> @Html.Label("Имя")</div>    
                <div class="col-lg-10 col-md-10" style="padding: 0; margin-bottom: 5px;"> @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })</div>    
         
                <div class="col-lg-2 col-md-2 form-control-static" style="padding: 0; padding-right: 15px;"> @Html.Label("Логин") </div>    
                <div class="col-lg-10 col-md-10" style="padding: 0; margin-bottom: 5px;"> @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })</div>    
     
                <div class="col-lg-2 col-md-2 form-control-static" style="padding: 0; padding-right: 15px;"> @Html.Label("Телефон") </div>    
                <div class="col-lg-10 col-md-10" style="padding: 0; margin-bottom: 5px;"> @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })</div>    
     
                <div class="col-lg-2 col-md-2 form-control-static" style="padding: 0; padding-right: 15px;"> @Html.Label("Email") </div>    
                <div class="col-lg-10 col-md-10" style="padding: 0; margin-bottom: 5px;"> @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</div>    
     
     </div></div>
            
      <div class="col-lg-6 col-md-6" style="padding: 0">
     <div class="form-group" style="padding: 0">
         <div class="col-lg-12 col-md-12" style="padding: 0;">
             <div class="col-lg-4 col-md-4" style="padding: 0;"></div>    
             <div class="col-lg-1 col-md-1" style="padding: 0;"> @Html.CheckBoxFor(model => model.IsActive, new { @style = "text-align: right; padding-top: 4px;" })</div>    
             <div class="col-lg-7 col-md-7 form-control-static" style="padding: 0;"> @Html.Label("Активный") </div>    
         </div>
         <div class="col-lg-12 col-md-12" style="padding: 0">
             <div class="col-lg-4 col-md-4" style="padding: 0;"></div>    
             <div class="col-lg-1 col-md-1" style="padding: 0; "> @Html.CheckBoxFor(model => model.Mailing, new { @style = "text-align: right; padding-top: 4px;" })</div>    
             <div class="col-lg-7 col-md-7 form-control-static" style="padding: 0; margin-bottom: 5px;"> @Html.Label("Рассылка") </div>    
         </div>
         <div class="col-lg-12 col-md-12" style="padding: 0">
             <div class="col-lg-4 col-md-4 form-control-static" style="padding-left: 20px; "> @Html.Label("Дата активации") </div>    
             <div class="col-lg-8 col-md-8" style="padding: 0; margin-bottom: 5px;"> @Html.TextBoxFor(model => model.Created, new { @class = "form-control" })</div>    
         </div>
         <div class="col-lg-12 col-md-12" style="padding: 0; margin-bottom: 5px;">
      <label class="col-lg-4 col-md-4"></label>
             <input class="btn btn-info col-md-8 col-lg-8" value="Сохранить" type="submit" style=""/>
             </div>
     </div></div>
    
    
    <!--@Html.EditorForModel()-->
            //<p>@Session["UserID"]</p>
    
    
@*<br/>
   <p>@Html.ActionLink("Отменить и вернуться к списку", "Categories")</p>
    <p>@Html.ActionLink("Перейти в меню администратора", "Actions")</p>*@
        }
    }
    else
    {
 @*   <h2>Аккаунт @Model.Login</h2>
       <div class="editor-field"> @Html.HiddenFor(model => model.UserID, new { disabled = "disabled" })</div>    
   <div class="editor-label"> @Html.Label("Имя")</div>    
     <div class="editor-field"> @Html.TextBoxFor(model => model.UserName, new { disabled = "disabled" })</div>    

    <div class="editor-label"> @Html.Label("Логин")</div>    
    <div class="editor-field"> @Html.TextBoxFor(model => model.Login, new { disabled = "disabled" })</div>
    
    <div class="editor-label"> @Html.Label("Пароль")</div>    
     <div class="editor-field"> @Html.HiddenFor(model => model.Password)</div>   
    
    
   <div class="editor-label"> @Html.Label("Телефон")</div>    
    <div class="editor-field"> @Html.TextBoxFor(model => model.Phone, new { disabled = "disabled" })</div>
    
   <div class="editor-label"> @Html.Label("Email")</div>    
    <div class="editor-field"> @Html.TextBoxFor(model => model.Email, new { disabled = "disabled" })</div>
    
   <div class="editor-label"> @Html.Label("Активный")</div>    
    <div class="editor-field"> @Html.CheckBoxFor(model => model.IsActive, new { disabled = "disabled" })</div>
    
   <div class="editor-label"> @Html.Label("Активация")</div>    
     <div class="date"> @Html.TextBoxFor(model => model.Created, new { disabled = "disabled" })</div>
    *@
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Created').datepicker({ firstDay: 1, dateFormat: 'dd.mm.yy' });
        $('.datePicker').datepicker({ firstDay: 1, dateFormat: 'dd.mm.yy' });
        $.datepicker.setDefaults({ dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'] });
        $.datepicker.setDefaults({ monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'] });
    });
</script>


<script>
    var p = $("#menu li a[href='/Admin/UsersView']");
    p.parent().addClass("selected");
</script>