@*@model IEnumerable<Domain.Entities.NewsTape>*@

@using MvcContrib.UI.Grid
@using WebUI.Infrastructure.ExtensionMethods
@using SortDirection = MvcContrib.Sorting.SortDirection
@*@model IEnumerable<Domain.Entities.Category>*@
@model WebUI.Models.PagedViewModel<Domain.Entities.NewsTape>

@{
    ViewBag.Title = "Новостная лента";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style type="text/css">
    .grid-style {
        margin-left: 10px;
        width: 1280px;
        
        
    }
</style>

<ul class="breadcrumb">
    @{
        <li><a href="@Url.Action("Actions", "Admin")">Главная</a> <span class="divider">/</span></li>
        <li class="active"><a href="@Url.Action("NewsList", "Admin")">Новости</a> <span class="divider">/</span></li>

    }
</ul>

<h2>Новостная лента</h2>

@*<div class="table-list">
@{
   Html.RenderPartial("ProductGridPartial", Model);
 }
 </div>*@

<div id="newsList">


@*<h2>Список товаров</h2>

@{
    Html.RenderPartial("ProductSearchBox");
}

<div class="table-list">
@{
   Html.RenderPartial("ProductGridPartial", Model);
 }
 </div>*@

<div class="table-list">
@{
   Html.RenderPartial("NewsListGridPartial", Model);
 }
 </div>

        
</div>        

@Html.Action("CreateNews","Admin")

@*



<table>
    <tr><th>Заголовок</th>
    <th>Дата</th></tr>
    @{
        foreach (var p in Model)
        {
            <div class="eventList">
                <tr><td>@Html.ActionLink(p.Header1, "CreateNews", new { newsId = p.NewsID })</td>
                <td>@Html.ActionLink(p.NewsDate.ToShortDateString(), "CreateNews", new { newsId = p.NewsID })</td></tr>
            </div>
        }
    }
</table>*@