<style type="text/css">
    .form-group {
        margin-bottom: 5px;
        margin-top: 7px;
    }
    

</style>



<div class="row" style="margin-top: 7px">
    <div class="col-lg-12 col-md-12">
        

        @using (Html.BeginForm("SuperCategories", "Admin", FormMethod.Get, new { @class = "form-horizontal", @style = "margin: 0 20px; padding: 0 20px;" }))
        {
            @*<label>
                &nbsp;&nbsp; @Html.TextBox("searchWord")
                &nbsp;&nbsp;Категории @Html.DropDownList("categoryActivity", new SelectList(new [] {"Активные", "Пустые", "Все"}))
                &nbsp;&nbsp;<input class="button" value="Поиск" type="submit" />
    
            </label>*@
            
            <div class="form-group">
            <label class="col-lg-1 col-md-1 form-control-static">Поиск</label>
            <div class="col-lg-4 col-md-4" >@Html.TextBox("searchWord", null, new { @class = "form-control", @placeholder = "Введите поисковый запрос" })</div>
        
                <label  class="col-lg-2 col-md-2 form-control-static" style="text-align: right">Категории:</label>
            <div class="col-lg-3 col-md-3" >
                @Html.DropDownList("categoryActivity", new SelectList(new [] {"Активные", "Пустые", "Все"}))
                
                @*@Html.TextBox("startDate", String.Format("{0:d}", DateTime.Now.AddDays(-5)), new { @class = "form-control" })*@
            </div>
            
            <label class="col-lg-1 col-md-1"></label>
            <input class="btn btn-info col-md-1 col-lg-1" value="Поиск" type="submit" style=""/>
        </div>
        }
    </div>
</div>



@*
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12" style="padding:0;">
@using (Html.BeginForm("Orders", "Admin", FormMethod.Get, new { @class = "form-horizontal", @style = "margin: 0 20px; padding: 0 20px;" })) 
{

    <div>
        
        <div class="form-group">
            <label class="col-lg-1 col-md-1">Поиск</label>
            <div class="col-lg-11 col-md-11" style="padding: 7px 0 0 0;">@Html.TextBox("searchWord", null, new { @class = "form-control", @placeholder = "Введите поисковый запрос" })</div>
        </div>
        
        

        <div class="form-group" style="">
            <label  class="col-lg-1 col-md-1">С:</label>
            <div class="col-lg-5 col-md-5"  style="padding: 0;">
            @Html.TextBox("startDate", String.Format("{0:d}", DateTime.Now.AddDays(-5)), new { @class = "form-control" })
            </div>

            <div class="col-lg-offset-1 col-md-offset-1  col-lg-1 col-md-1" style="padding: 0;">
                @Html.CheckBox("isActive", new { @class = "checkbox" })
            </div>
            <label class="col-lg-2 col-md-2" style="padding: 0;">Активные заказы</label>
            
        </div>

        <div class="form-group">
            <label class="col-lg-1 col-md-1">По:</label>
            <div class="col-lg-5 col-md-5" style="padding: 0;">
                @Html.TextBox("endDate", String.Format("{0:d}", DateTime.Now), new { @class = "form-control" })
            </div>

            <label class="col-lg-1 col-md-1">&nbsp;</label>
            <input class="button col-md-5 col-lg-5" value="Поиск" type="submit" style="height: 27;"/>
        </div>
*@

<script>

    $(document).ready(function () {
        $("#categoryActivity").addClass("form-control");

    });
</script>