@using System.Web.Optimization
@*@using StackExchange.Profiling*@
@using WebUI.Infrastructure.ExtensionMethods
@*@{
    SquishIt.Css.Add("~/Content/Admin2.css");
    SquishIt.Css.Add("~/Content/jquery_ui_datepicker.css");
}

@{
    SquishIt.JavaScript.Add("~/Scripts/jquery-FixingBug.js");
    SquishIt.JavaScript.Add("~/Scripts/js/jquery.maskedinput.min.js");
    SquishIt.JavaScript.Add("~/Scripts/js/jquery_ui_datepicker.js");
}*@
<!DOCTYPE html>

<html>
    <head>
        <meta name="robots" content="nofollow, noindex"/>
        <title>@ViewBag.Title</title>
       @* <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet"/>*@
        
        
        
              @if (HttpContext.Current.IsDebuggingEnabled)
              {
            <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />            
            <link href="@Url.Content("~/Content/Admin2.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/jquery_ui_datepicker.css")" rel="stylesheet" type="text/css" />
              }
              else
              {
            <link href="@Url.Content("~/Content/admBootstrawesome.min.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/admAdditional.min.css")" rel="stylesheet" type="text/css" />
              }

        
        @*@Styles.Render("~/Content/admin_bootstrawesome")
        @Styles.Render("~/Content/admin_css")*@

        @*<link href="@Url.Content("~/Content/Admin2.css")" rel="stylesheet" type="text/css"/>*@
        @*        @SquishIt.Css.Render("~/Content/combained2.css")*@
        
        
        @*<link href="@Url.Content("~/Content/Admin2.css")" rel="stylesheet"/>
        <link href="@Url.Content("~/Content/jquery_ui_datepicker.css")" rel="stylesheet"/>*@
        
        
        
        
        
                   @if (HttpContext.Current.IsDebuggingEnabled)
                   {
            <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery-FixingBug.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/js/jquery.maskedinput.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/js/datepicker.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/js/bootstrap.min.js")" type="text/javascript"></script>
                   }
                   else
                   {
                       <script src="@Url.Content("~/Scripts/js/admScripts.min.js")" type="text/javascript"></script>
                       <script src="@Url.Content("~/Scripts/js/admAddScripts.min.js")" type="text/javascript"></script>
                       <script src="@Url.Content("~/Scripts/js/admBootstrap.min.js")" type="text/javascript"></script>
                   }


        @*
        @Scripts.Render("/bundles/admin_scripts")
        @RenderSection("admin_scripts", required: false)
        
        @Scripts.Render("/bundles/admin_masked-datepiker")
        @RenderSection("admin_masked-datepiker", required: false)
        
        @Scripts.Render("/bundles/admin_bootstrawesome-js")
        @RenderSection("admin_bootstrawesome-js", required: false)
        
        *@
        
        @*@Scripts.Render("/bundles/admin_jquery")
        @RenderSection("admin_jquery", required: false)*@
        
        
        @*   <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script> *@
        
     @*   <script src="@Url.Content("~/Scripts/jquery-FixingBug.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/js/jquery.maskedinput.min.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/js/datepicker.js")" type="text/javascript"></script> *@
       
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
     

        @* @Scripts.Render("/bundles/admin_jquery")
        @RenderSection("admin_jquery", required: false)*@
        
        
        @*<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script> 
        
        <script src="@Url.Content("~/Scripts/jquery-FixingBug.js")" type="text/javascript"></script> *@
     @*   <script src="@Url.Content("~/Scripts/js/jquery.maskedinput.min.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/js/datepicker.js")" type="text/javascript"></script> *@
        
        @*@SquishIt.JavaScript.Render("~/Content/Combained2_#.js")*@
        
        
        @*<script src="@Url.Content("~/Scripts/jquery-FixingBug.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/js/jquery.maskedinput.min.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/js/jquery_ui_datepicker.js")" type="text/javascript"></script>*@
      
      
        @*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/js/bootstrap.min.js")" type="text/javascript"></script>*@
      
        @*<link href="@Url.Content("~/Content/jquery_ui_datepicker.css")" rel="stylesheet" type="text/css"/>*@
    
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="/Scripts/js/html5shiv.js"></script>
            <script src="/Scripts/js/respond.min.js"></script>
        <![endif]-->
        
        @* <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@

    
        @*
       <link href="@Url.Content("~/Content/themes/jquery-ui-1.10.4.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    
 
    *@
    



        <script type="text/javascript">
            $(".grid-style th a").live("click", function (event) {
                //stop the browser from going to the relevant URL
                event.preventDefault();
                $.ajax({
                    type: "get",
                    dataType: "html",
                    url: this.href,
                    data: {},
                    success: function (response) {
                        //  $(".table-list").html('').html(response);
                        $(".table-list").html('').html(response);
                    }
                });
            });
        </script>


        <script type="text/javascript">
            $(".pagination a").live("click", function (event) {
                //stop the browser from going to the relevant URL
                event.preventDefault();
                $.ajax({
                    type: "get",
                    dataType: "html",
                    url: this.href,
                    data: {},
                    success: function (response) {
                        //  $(".table-list").html('').html(response);
                        $(".table-list").html('').html(response);
                    }
                });
            });
        </script>
        
        
        <script>
            jQuery(function ($) {
                $("#ArticleNumber").mask("aa-aa-9999-aa");
            });

        </script>
   
    </head>
    <body>
        
        <div id="wrap">
            <div id="header">
                <h1 id="logo-text">@Html.ActionLink("Административная панель", "Actions", "Admin")</h1>
                <p id="slogan">@Html.ActionLink("Здесь можно внести изменения в конфигурацию и БД", "Actions", "Admin")</p>
                
                <div id="header-links">
                    <a href="@Url.Action("List", "Product")">В магазин &nbsp;<span class="fa fa-external-link"></span></a>  
                </div>
            </div>
            
            
            <div id="menu" class="">
                <ul class="nav nav-tabs nav-justified">
                    @Html.MenuItem("Home", "Actions", "Admin")
                    @Html.MenuItem("Товары", "Products", "Admin")
                    @Html.MenuItem("Надкатегории", "SuperCategories", "Admin")
                    @Html.MenuItem("Категории", "Categories", "Admin")
                    
                    @{
                        if (User.IsInRole("Admin") || User.IsInRole("ContentManager"))
                        {
                            @Html.MenuItem("Заказы", "Orders", "Admin")
                            @Html.MenuItem("Клиенты", "UsersView", "Admin")    
                            @Html.MenuItem("Новости", "NewsList", "Admin")
                            @Html.MenuItem("Статьи", "ArticleList", "Admin")
                            @Html.MenuItem("Рассылка", "MailingList", "Admin")
                        }
                    }
                    
                    
                
                    @*@Html.MenuItem("Cтатусы", "DimOrderStatus", "Admin")*@
                    @*@Html.MenuItem("Настройка параметров", "Settings", "Admin")*@
                    
                    
                    @{
                        if (User.IsInRole("Admin") || User.IsInRole("admin"))
                        {
                            @Html.MenuItem("Разное", "DimsParameters", "Admin")
                            @Html.MenuItem("Лог", "Nlog", "Admin")
                        }
                    }
                    

  
                 @*   @User.IsInRole("SEO")*@
                    
                    
                    @* @Html.MenuItem("Доставка", "DimShipping", "Admin")
                @Html.MenuItem("Роли", "UserRoles", "Admin")*@
                    
                @Html.MenuItem("Галерея", "Galery", "Admin")
                
                
                </ul>
            </div>					
        
        
            <div id="content-wrap">
                
                
                
                @*  <div id="sidebar">
                    @{Html.RenderPartial("AdminSideBarPartial");}
                  </div>
                  *@
           
                @if (TempData["message"] != null)
                {
                    <div class="message"><p class="@TempData["messageType"]">@TempData["message"]</p></div>
                }

                <div id="main">
                    @RenderBody()
                </div>
            </div>
            
            
            
            <div id="footer">
			
                <p>
                    &copy; 2014 <strong>tropicana-store.ru</strong> | 
                    ReDesign by: Воронцов Олег @*<a href="http://www.styleshout.com/">styleshout</a>*@
			
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("List", "Product")"><span class="fa fa-home"></span>&nbsp;Домой </a> | 
                    <a href="@Url.Action("Sitemap", "Account")"><span class="fa fa-sitemap"></span>&nbsp;Карта сайта</a> | 
                    <a href="@Url.Action("Robots", "Account")"><span class="fa fa-link"></span>&nbsp;Robots.txt</a> | 

                    <a href="http://www.google.com/analytics/"><span class="fa fa-bar-chart-o"></span>&nbsp;Google Analytics</a> | 
                    <a href="http://webmaster.yandex.ru"><span class="">Я</span>&nbsp;webmaster.yandex.ru</a> | 
                    <a href="http://wordstat.yandex.ru/"><span class="fa fa-edit"></span>&nbsp;Wordstat</a> | 
                    <a href="https://developers.google.com/speed/pagespeed/insights"><span class="fa fa-google"></span>&nbsp;PageSpeed</a> 
                    @*@Html.ActionLink("Home", "Index") |
                    @Html.ActionLink("Sitemap", "Sitemap") |
                    @Html.ActionLink("RSS Feeds", "RSS")*@
                    
                    
                    
                    <script>
                        //Loading element 

                        function gifLoaderBefore() {
                            var p = $('#jquery-loader');
                            p.addClass('blue-with-image');
                            var z = $('#jquery-loader-background');
                            z.addClass('loader-bg');
                            /*delay(0.1);*/

                        };

                        function gifLoaderAfter() {
                            /*delay(1);*/
                            var p = $('#jquery-loader');
                            p.removeClass('blue-with-image');
                            var z = $('#jquery-loader-background');
                            z.removeClass('loader-bg');
                        };
                    </script>
                    

                </p>
				
            </div>	
          @* @MiniProfiler.RenderIncludes()*@
        </div>
        <div id="updateDialog"></div>
        <div id="containers"></div>
        
          <div id="jquery-loader-background"></div>
<div id="jquery-loader" class="" style=""></div>
    </body>
</html>

